.hoursAbsenteeismCard {
  border-radius: 6px;
  height: 322px;
  background-color: var(--bg-card-color);
  overflow-y: scroll;
}
.hoursAbsenteeismCard .input-group {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.hoursAbsenteeismCard button,
.hoursAbsenteeismCard button:hover {
  background-color: #d96470;
  color: white;
}

.clockContainer {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}
