.header {
  background-image: url("../../assets/home/logo-fondo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: var(--header-height);
}

.header .profileImage {
  width: 85px;
  height: 85px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  object-fit: contain;
}

.header .infoHeaderEmployee {
  font-weight: 500;
}
