.sidebar {
  background-color: var(--bg-card-color);
  height: calc(100vh - var(--header-height));
}

.sidebar ul li {
  padding-left: 30px;
  list-style: none;
  border-color: var(--border-row-color) !important;
  position: relative;
}

.sidebar ul li a {
  text-decoration: none;
  display: block;
  padding: 13px 0px;
}

.sidebar .active {
  color: var(--bs-nav-tabs-link-active-color)
}

.sidebar li:has(.active)::before {
  content: '';
  background-color: #31ae4e;
  height: 100%;
  width: 7px;
  border-radius: 2px;

  position: absolute;
  left: 4px;
}